* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 100%;
    width: 25vw;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #141720;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.notch {
    height: 20px;
    width: 95px;
    position: absolute;
    top: 10px;
    background-color: #000000;
    border-radius: 10px;
    right: 55px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.top h1 {
    color: #F9F9FB;
    font-size: 10px;
}

.pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: url(https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/8057d700-45c8-40ba-9d5a-b61964e95560/c9ca4cb9-f3ec-4bbf-a552-a361491d1e3b.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.searchbar {
    height: 25px;
    width: 23vw;
    background-color: #21242D;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: white;

}

span {
    gap: 10px;
    display: flex;
}

.mid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.img {
    height: 90px;
    width: 90px;
    flex-direction: row;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#img1 {
    background-image: url(https://m.media-amazon.com/images/M/MV5BMjEwNmEwYjgtNTk3ZC00NjljLTg5ZDctZTY3ZGQwZjRkZmQxXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg);
}

#img2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDUOJ08hOrxRRrTNOCfqPZTwqC2dT4r3hcrw&s);
}

#img3 {
    background-image: url(https://m.media-amazon.com/images/S/pv-target-images/91e1eaaca8ca64acaddc4da62f10e87eb474d30eee9dad4e07345c634a9f14e8.jpg);
}

#img4 {
    background-image: url(https://img.onmanorama.com/content/dam/mm/en/entertainment/entertainment-news/images/2024/12/23/marco.jpg?crop=fc&w=575&h=575);
}
#img5{
    background-image: url(https://m.media-amazon.com/images/M/MV5BNTRlNmU1NzEtODNkNC00ZGM3LWFmNzQtMjBlMWRiYTcyMGRhXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg);
}
#img6{
    background-image: url(https://rukminim2.flixcart.com/image/850/1000/jh55mkw0/card-game/w/h/r/golden-cards-frappel-original-imaexp2rjewjbsdw.jpeg?q=90&crop=false);
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 25vw;
    background-color: #21242D;
z-index: 10;
    right: 0;
    left: 0;
    font-size: 15px;
}




@media (max-width:650px) {
    .img {

        height: 150px;
        width: 150px;
    }
    .main {
        width: 90%;
        height: 90vh;
        border-radius: 35px;
    }

    .notch {
        width: 200px;
        height: 35px;
        right: 80px;
        top: 10px;
        border-radius: 30px;


    }

    .top h1 {
        font-size: 20px;
    }

    .pic {
        height: 100px;
        width: 100px;
    }

    .searchbar {
        height: 50px;
        width: 95%;
        margin-left: 13px;

    }

    .footer{
        height: 60px;
        width: 100%;
        font-size: 30px;
       
    }
    .mid{
        margin-top: 30px;
        gap: 15px;
    }
}